<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
</head>
<body>
    <h1>Our Services</h1>
    <p>This is the services page.</p>
    <a href="{% url 'home' %}"><button>Home</button></a>  <!-- Home Button --><a href="{% url 'about' %}"><button>About</button></a><!-- About Button -->
 <a href="{% url 'contact' %}"><button>Contact</button></a>

</body>

</html>
